<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JSP-Practice</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>view/login.jsp</welcome-file>
   
  </welcome-file-list>
  <servlet>
  	<servlet-name>registerUser</servlet-name>
  	<servlet-class>com.practice.servlet.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registerUser</servlet-name>
  	<url-pattern>/users/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>registerPage</servlet-name>
  	<servlet-class>com.practice.servlet.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registerPage</servlet-name>
  	<url-pattern>/users/register-page</url-pattern>
  </servlet-mapping>

  
  <servlet>
  	<servlet-name>userPage</servlet-name>
  	<servlet-class>com.practice.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userPage</servlet-name>
  	<url-pattern>/users/list</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>loginPage</servlet-name>
  	<servlet-class>com.practice.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginPage</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>loginInfoPage</servlet-name>
  	<servlet-class>com.practice.servlet.LoginInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginInfoPage</servlet-name>
  	<url-pattern>/login-info</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<servlet-name>createUser</servlet-name>
  	<servlet-class>com.practice.servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>createUser</servlet-name>
  	<url-pattern>/users/createuser</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>userList</servlet-name>
  	<servlet-class>com.practice.servlet.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userList</servlet-name>
  	<url-pattern>/users/userlist</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
  	<servlet-name>test</servlet-name>
  	<servlet-class>com.practice.servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/users/test</url-pattern>
  </servlet-mapping>
</web-app>
